body {
    box-sizing: border-box;
}

header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 35px;
    color: #00008B;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__list-txt {
    font-size: 20px;
    font-weight: bold;
    color: #00008B;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #00008B;
}

.first-view {
    position: relative;

}

.first-view__txt {
    width: 720px;
    position: absolute;
    bottom: 130px;
    left: 5px;
    font-size: 60px;
    font-family: 'Noto Sans JP', sans-serif;
}

.first-view__box {
    background-color: #00008B;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 75%;
    height: 170px;
    z-index: -10;
}

.first-view__img {
    margin-left: auto;
    width: 50%;
    height: auto;
    display: block;
}