html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    margin: 1%;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.header__logo {
    font-size: 35px;
    color: #00008B;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__list-txt {
    font-size: 20px;
    font-weight: bold;
    color: #00008B;
    padding-left: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
    color: #00008B;
}

.first-view {
    position: relative;
    height: 85%;
}

.first-view__txt {
    width: 720px;
    position: absolute;
    top: 230px;
    left: 5px;
    font-size: 50px;
    z-index: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.first-view__box {
    background-color: #00008B;
    position: absolute;
    left: 0;
    width: 800px;
    height: 150px;
    top: 325px;
    z-index: 10;
}

.first-view__img {
    margin: 0 0 0 auto;
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    z-index: 20;
}