header {
    display: flex;
    margin: 15px 10px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    color: #00008B;
    padding-left: 10px;
}

.header__list {
    display: flex;
    list-style: none;
    padding-right: 10px;
}

.header__list-txt {
    font-size: 20px;
    font-weight: bold;
    color: #00008B;
    padding-left: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
    color: #00008B;
}

.first-view__txt {
    width: 720px;
    position: absolute;
    bottom: 170px;
    left: 5px;
    font-size: 55px;
    font-family: 'Noto Sans JP', sans-serif;
}

.first-view__box {
    background-color: #00008B;
    position: absolute;
    left: 0;
    width: 800px;
    height: 150px;
    bottom: 15px;
}

.first-view__img {
    margin-left: auto;
    display: block;
    width: 50%;
    position: relative;
}